@charset "UTF-8";

/* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ all ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

html,
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 1024px;
  background-color: #bdbdbd;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ ScrollBar ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* 滾動條整體 */
  /* 外層軌道*/
  /* 內層軌道，除去滾動條中間部分 */
  /* 邊角 */
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 13px;
}

html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background-color: #bdbdbd;
}

html ::-webkit-scrollbar-track-piece,
body ::-webkit-scrollbar-track-piece {
  background-color: #bdbdbd;
}

html ::-webkit-scrollbar-corner,
body ::-webkit-scrollbar-corner {
  background-color: #bdbdbd;
}

html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  border: solid 3px #bdbdbd;
  background-color: #fff;
}

/* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ 整份文件 ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ area Group ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ maps ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ device ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app li {
  list-style: none;
}

#app button {
  outline: none;
  border: none;
  cursor: pointer;
}

#app button:hover {
  opacity: 0.7;
}

#app .title {
  text-align: center;
  color: #fff;
  padding: 15px 0;
  background-color: #bdbdbd;
}

#app .title h1 {
  margin: 0;
}

#app #areaGroup {
  width: 10%;
  height: 100%;
  padding: 0 10px;
  background-color: #bdbdbd;
}

#app #areaGroup .groups {
  height: 91%;
  overflow-y: auto;
  padding: 0;
}

#app #areaGroup .groups .area {
  position: relative;
  z-index: 9;
  color: #bdbdbd;
  border: solid 2px #bdbdbd;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #fff;
}

#app #areaGroup .groups .area .del_btn {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  color: #bdbdbd;
  background-color: transparent;
}

#app #areaGroup .groups .area p {
  margin: 0;
}

#app #maps {
  position: relative;
  height: 100%;
  width: 75%;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ information ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app #maps #map_img {
  position: relative;
  width: 100%;
  height: 79.5%;
  overflow: auto;
  background-color: rgba(189, 189, 189, 0.4);
}

#app #maps #map_img .img_div {
  position: relative;
  color: black;
  width: 100%;
  height: 100%;
}

#app #maps #map_img .img_div .dev_function {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
  background-color: rgba(100, 100, 100, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#app #maps #map_img .img_div #svg {
  border: solid 2px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app #maps #information {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 3;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ warning ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ function_area ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app #maps #information .warnTitle h2 {
  margin: 0;
}

#app #maps #information .warning {
  width: 50%;
  height: 100%;
}

#app #maps #information .warning .infList {
  height: 70%;
  overflow-y: auto;
}

#app #maps #information .function_area {
  position: relative;
  width: 50%;
  height: 100%;
}

#app #maps #information .function_area .img_control {
  width: 100%;
  color: #fff;
}

#app #maps #information .function_area .img_control button,
#app #maps #information .function_area .img_control label {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 3px;
}

#app #maps #information .function_area .img_control #addArea {
  margin-bottom: 3px !important;
}

#app #maps #information .function_area .maps_name {
  color: #bdbdbd;
}

#app #maps #information .function_area .maps_name h3 {
  padding: 0 5px;
}

#app #device {
  width: 15%;
  height: 100%;
  background-color: #bdbdbd;
}

#app #device .items {
  padding: 0;
  overflow-y: auto;
  height: 92.5%;
}

#app #device .items .item {
  position: relative;
  z-index: 10;
  color: #bdbdbd;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
}

#app #device .items .item img,
#app #device .items .item p {
  display: inline-block;
}

#app #device .items .item img {
  width: 30px;
  height: 30px;
}

#app #device .items .item p {
  width: 80%;
  text-align: center;
}

