@charset "UTF-8";

/* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ all ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

html,
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #65A8A6;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.title {
  text-align: center;
  background-color: #65A8A6;
  color: #F8ECC2;
  padding: 15px 0;
}

.title h1 {
  margin: 0;
}

.del_btn,
.new_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  color: #65A8A6;
}

.new_btn {
  top: 0;
  left: 0;
}

/* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ ScrollBar ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

::-webkit-scrollbar {
  width: 13px;
}

/* 滾動條整體 */

::-webkit-scrollbar-track {
  background-color: #65A8A6;
}

/* 外層軌道*/

::-webkit-scrollbar-track-piece {
  background-color: #65A8A6;
}

/* 內層軌道，除去滾動條中間部分 */

::-webkit-scrollbar-corner {
  background-color: #65A8A6;
}

/* 邊角 */

::-webkit-scrollbar-thumb {
  background-color: #F8ECC2;
  border: solid 3px #65A8A6;
}

/* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ 整份文件 ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */

#app {
  background-color: #F8ECC2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ area Group ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ maps ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ device ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app #areaGroup {
  width: 10%;
  background-color: #65A8A6;
  height: 100%;
  padding: 0 10px;
}

#app #areaGroup .groups {
  text-align: center;
  height: 91%;
  overflow-y: auto;
  padding: 0;
}

#app #areaGroup .groups .area {
  position: relative;
  background-color: #F8ECC2;
  z-index: 9;
  color: #65A8A6;
  border: solid 2px #65A8A6;
  width: 150px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#app #maps {
  position: relative;
  height: 100%;
  width: 75%;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ information ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app #maps #map_img {
  background-color: rgba(255, 192, 203, 0.5);
  position: relative;
  width: 100%;
  height: 77%;
  overflow: auto;
}

#app #maps #map_img .img_div {
  position: relative;
  color: black;
  width: 100%;
}

#app #maps #map_img .img_div img {
  margin-top: 50px;
  width: 100%;
}

#app #maps #map_img .img_div .point {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(/images/boom.svg);
  background-position: center;
  background-size: cover;
  z-index: 99;
}

#app #maps #information {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 3;
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ warning ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
  /* ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ function_area ▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼ */
}

#app #maps #information .warnTitle h2 {
  margin: 0;
}

#app #maps #information .warning {
  border-right: solid 13px #65A8A6;
  width: 50%;
}

#app #maps #information .warning .infList {
  height: 165px;
  overflow-y: auto;
}

#app #maps #information .function_area {
  position: relative;
  width: 50%;
  height: 100%;
}

#app #maps #information .function_area .img_control {
  width: 50%;
  margin-left: 5px;
  padding: 3px 0;
  background-color: #65A8A6;
  color: #F8ECC2;
}

#app #maps #information .function_area .img_control h3,
#app #maps #information .function_area .img_control button {
  margin-left: 8px;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  background-color: #F8ECC2;
  color: #65A8A6;
}

#app #maps #information .function_area .img_control h3 {
  padding: 0 5px;
}

#app #maps #information .function_area .maps_name {
  color: #65A8A6;
}

#app #maps #information .function_area .store {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  background-color: #65A8A6;
  color: #F8ECC2;
}

#app #device {
  width: 15%;
  background-color: #65A8A6;
  height: 100%;
}

#app #device .items {
  padding: 0;
  text-align: center;
  overflow-y: auto;
  height: 92.5%;
}

#app #device .items .item {
  position: relative;
  z-index: 10;
  background-color: #F8ECC2;
  color: #65A8A6;
  border: solid 2px #65A8A6;
  display: inline-block;
  width: 80px;
  height: 120px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 6px 3px 5px -2px #65A8A6;
          box-shadow: 6px 3px 5px -2px #65A8A6;
}

#app #device .items .item img {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
  width: 60px;
  height: 60px;
}

#app #device .items .item p {
  position: absolute;
  top: 78%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-78%);
          transform: translateX(-50%) translateY(-78%);
  width: 100%;
}

